/* start content styles */

.bread_crumbs {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    font-family: $font_family_dp;
    
    .in {
	padding: 25px 20px;
    }
    
    a, span {
	margin: 0 5px;
	color: #015293;
	display: inline-block;
	vertical-align: top;
    }
    
    .arr {
	color: $color_a;
	background: url(images/arr_right_y.png) center center no-repeat;
	text-indent: -1000px;
	overflow: hidden;
	height: 17px;
	width: 24px;
    }
}

#inner {


    
}

@media screen and (max-width: 1600px) {
    #certificates {
        
        
    }
}

@media screen and (max-width: 1300px){
    #certificates {
        
        
    }
    
}
@media screen and (max-width: 999px) {
    #certificates {
        float: none;
        width: auto;
        border-right: 0;
        border-bottom: 1px solid #f4f4f4;
    }
    
}
@media screen and (max-width: 800px) {
    #certificates {
        
    }
}

@media screen and (max-width: 590px) {
    #sertificates {
        
    }
}

@media screen and (max-width: 450px) {
   
}

/* end content styles */