/* start services styles */

#services {
    background: #fff url(images/services_bg.jpg) center bottom no-repeat;
    background-size: 100% auto;
    
    .in {
	max-width: 1300px;
	padding: 55px 20px 0;
	text-align: center;
    }
    
    .services_wrap {
	font-size: 0px;
	
	.service {
	    font-size: 16px;
	    font-weight: 300;
	    line-height: 145%;
	    display: inline-block;
	    vertical-align: top;
	    height: 311px;
	    width: 311/1300*100%;
	    margin: 0 7/1300*100% 15px;
	    text-align: left;
	    position: relative; 
	    background-color: #0b1736;
	    
	    &:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 181/311*100%;
		background: url(images/shadow.png) center bottom repeat-x;
		background-size: auto 100%;
		z-index: 2;
		opacity: 1;
		@include transition(opacity);
	    }
	    
	    a {
		display: block;
		width: 100%;
		height: 100%;
	    }
	    
	    .img {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		opacity: 0.8;
		@include transition(opacity);
	    }
    
	    .h2 {
		font-weight: 300;
		color: #fff;
		position: absolute;
		z-index: 3;
		padding: 15px 80px 15px 20px;
		line-height: 130%;
		font-weight: 300;
		font-family: $font_family_os;
		bottom: 0;
	    }
	    
	    span {
		background: url(images/arr_right.png) center no-repeat;
		position: absolute;
		z-index: 5;
		right: 20px;
		bottom: 20px;
		width: 36px;
		height: 36px;
		border: 2px solid $color_a;
		border-radius: 20px;
		text-indent: -1000px;
		font-weight: 500;
		overflow: hidden;
		color: #fff;
		text-align: center;
		box-sizing: border-box;
		padding: 5px;
		text-decoration: none;
		@include transition(all);
	    }
	    
	    &:first-child, &:last-child {
		width: 635/1300*100%;
	    }
	}
	.service:hover {
	    
	    &:after {
		opacity: 0;
	    }
	    
	    .img {
		opacity: 0.2;
	    }
    
	    .h2 {
		top: 0;
	    }
	    
	    span {
		left: 20px;
		text-indent: 0;
		background: $color_a;
		width: 168px;
		color: #03325e;
		
		&:hover {
		    background-color: #ddb000;
		    border-color: #ddb000;
		}
		&:active {
		    box-shadow: inset 0 0 7px rgba(0,0,0,0.3)
		}
	    }
	}
    }
    
}

@media screen and (max-width: 1600px) {
    #services {
	
    }  
}

@media screen and (max-width: 1300px) {
    #services {
	.in {
	    padding: 45px 20px 0;
	}
	.services_wrap {
	    
	    .service {
		font-size: 15px;
		height: 251px;
	
		.h2 {
		    padding: 15px 80px 15px 20px;
		    font-size: 20px;
		    line-height: 130%;
		}
	    }
	}
    } 
}
@media screen and (max-width: 999px) {
    #services {
	.in {
	    padding: 35px 20px 0;
	}
	.services_wrap {
	    
	    .service {
		font-size: 15px;
		height: 251px;
	
		.h2 {
		    padding: 15px 80px 15px 10px;
		    font-size: 17px;
		    line-height: 130%;
		}
		a {
		    background-size: auto 10px;
		    right: 10px;
		    width: 30px;
		    height: 30px;
		    padding: 2px;
		}
	    }
	    
	    .service:hover {
		a {
		    width: 118px;
		}
	    }
	}
    } 
}


@media screen and (max-width: 800px) {
    #services {
	.services_wrap {
	    
	    .service {
		width: 635/1300*100%;
		height: 201px;
	    }
	}
    } 
}

@media screen and (max-width: 590px) {
    #services {
	
    } 
}

@media screen and (max-width: 450px) {
    #services {
	.services_wrap {
	    .service {
		width: 95%;
		&:first-child, &:last-child {
		    width: 95%;
		}
	    }
	}
    } 
}

/* end services styles */